/*天空*/

.container {
    width: ;
    height: 600px;
    margin: 20px auto;
    position: relative;
    background: rgb(187, 235, 235);
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
}


/*陆地*/

.load {
    position: relative;
    top: 360px;
    background: rgb(12, 59, 78);
    height: 240px;
}


/*四座大山*/

.mountain .part-one {
    width: 400px;
    height: 400px;
    background: rgb(20, 214, 81);
    position: absolute;
    -webkit-transform: rotate(30deg) skew(-20deg) translate3d(120px, 200px, 0);
    -moz-transform: rotate(30deg) skew(-20deg) translate3d(120px, 200px, 0);
    -o-transform: rotate(30deg) skew(-20deg) translate3d(120px, 200px, 0);
    -ms-transform: rotate(30deg) skew(-20deg) translate3d(120px, 200px, 0);
    transform: rotate(30deg) skew(-20deg) translate3d(120px, 200px, 0);
}

.mountain .part-two {
    width: 400px;
    height: 400px;
    background: rgb(20, 214, 81);
    position: absolute;
    -webkit-transform: rotate(59deg) skew(39deg) translate3d(839px, -356px, 0);
    -moz-transform: rotate(59deg) skew(39deg) translate3d(839px, -356px, 0);
    -o-transform: rotate(59deg) skew(39deg) translate3d(839px, -356px, 0);
    -ms-transform: rotate(59deg) skew(39deg) translate3d(839px, -356px, 0);
    transform: rotate(59deg) skew(39deg) translate3d(839px, -356px, 0);
}

.mountain .part-three {
    width: 400px;
    height: 400px;
    background: rgb(20, 214, 81);
    position: absolute;
    -webkit-transform: rotate(30deg) skew(-27deg) translate3d(800px, -260px, 0);
    -moz-transform: rotate(30deg) skew(-27deg) translate3d(800px, -260px, 0);
    -o-transform: rotate(30deg) skew(-27deg) translate3d(800px, -260px, 0);
    -ms-transform: rotate(30deg) skew(-27deg) translate3d(800px, -260px, 0);
    transform: rotate(30deg) skew(-27deg) translate3d(800px, -260px, 0);
}

.mountain .part-four {
    width: 400px;
    height: 400px;
    background: rgb(20, 214, 81);
    position: absolute;
    -webkit-transform: rotate(34deg) skew(-25deg) translate3d(640px, -223px, 0);
    -moz-transform: rotate(34deg) skew(-25deg) translate3d(640px, -223px, 0);
    -o-transform: rotate(34deg) skew(-25deg) translate3d(640px, -223px, 0);
    -ms-transform: rotate(34deg) skew(-25deg) translate3d(640px, -223px, 0);
    transform: rotate(34deg) skew(-25deg) translate3d(640px, -223px, 0);
}


/*太阳*/

.sun {
    position: relative;
}

.sun .center-sun {
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 123);
    border-radius: 50%;
    position: absolute;
    top: -170px;
    right: 160px;
}

.sun .sunshine {
    width: 70px;
    height: 70px;
    background-color: #f67e28;
    position: absolute;
    top: -180px;
    right: 150px;
    border-radius: 50%;
    box-shadow: 0 0 2px 12px rgba(246, 126, 40, 0.5);
    /*CSS3径向渐变*/
    background: -moz-radial-gradient(center, ellipse cover, #f67e28 0%, #f67e28 50%, #f4bf9a 60%, #f4bf9a 100%);
    /* FF3.6+ */
    background: -webkit-radial-gradient(center center, 0px, center center, 100%, color-stop(0%, #f67e28), color-stop(50%, #f67e28), color-stop(60%, #f4bf9a), color-stop(100%, #f4bf9a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f67e28 0%, #f67e28 50%, #f4bf9a 60%, #f4bf9a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f67e28 0%, #f67e28 50%, #f4bf9a 60%, #f4bf9a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f67e28 0%, #f67e28 50%, #f4bf9a 60%, #f4bf9a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #f67e28 0%, #f67e28 50%, #f4bf9a 60%, #f4bf9a 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f67e28', endColorstr='#f4bf9a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


/*云*/

.cloud {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 80px;
    top: 40px;
}

.cloud:before {
    content: '';
    display: inline-block;
    width: 64px;
    height: 27px;
    border-radius: 44px 0 0 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: -31px;
}

.cloud:after {
    content: '';
    display: inline-block;
    width: 64px;
    height: 39px;
    border-radius: 0 72px 14px 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 32px;
}


/*房子*/

.house {
    position: relative;
    width: 350px;
    height: 300px;
    background: rgba(170, 140, 185, .5);
    top: -120px;
    left: 350px;
}


/*墙面*/

.wall {
    position: absolute;
    width: 350px;
    height: 300px;
    background: rgb(234, 142, 158);
}


/*三角房顶*/

.roof {
    width: 100px;
    height: 100px;
    background: rgb(234, 142, 158);
    border: 5px solid rgb(140, 181, 185);
    position: absolute;
    -webkit-transform: rotate(48deg) translate3d(68px, -136px, 0);
    -moz-transform: rotate(48deg) translate3d(68px, -136px, 0);
    -o-transform: rotate(48deg) translate3d(68px, -136px, 0);
    -ms-transform: rotate(48deg) translate3d(68px, -136px, 0);
    transform: rotate(48deg) translate3d(68px, -136px, 0);
}


/*二楼*/

.secondfloor {
    width: 100%;
    height: 140px;
    border-top: 10px solid rgb(140, 181, 185);
    border-bottom: 10px solid rgb(140, 181, 185);
    background: #fff;
    position: absolute;
}

.secondfloor:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(140, 181, 185);
    position: absolute;
    left: -10px;
    top: -10px;
}

.secondfloor:before {
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(140, 181, 185);
    position: absolute;
    right: -10px;
    top: -10px;
}


/*窗户*/

.window {
    width: 50px;
    height: 100px;
    background: rgb(18, 13, 82);
    border: 5px solid rgb(140, 181, 185);
    display: inline-block;
    margin: 10px;
}


/*窗户帐篷*/

.window-tent {
    width: 30px;
    height: 40px;
    background: rgb(255, 255, 123);
    border-left: 20px solid rgb(20, 214, 81);
    border-right: 20px solid rgb(20, 214, 81);
    border-radius: 0 0 16px 16px;
    position: relative;
    left: -10px;
    top: -4px;
}

.window-body {
    width: 50px;
    height: 7px;
    background: rgb(140, 181, 185);
    position: absolute;
    top: 75px;
}


/*一楼*/

.firstfloor {
    width: 100%;
    height: 140px;
    background: #fff;
    position: absolute;
    top: 160px;
}


/*门*/

.door {
    display: inline-block;
    width: 86px;
    height: 130px;
    background: rgb(243, 171, 94);
    position: relative;
    top: 10px;
}

.door-over {
    width: 103px;
    height: 40px;
    background-color: #f14c5e;
    position: absolute;
    top: -10px;
    left: -8px;
    text-align: center;
    font-size: 2em;
    color: #080808;
    line-height: 40px;
    border-radius: 10px;
}

.door-body {
    position: relative;
}

.leftdoor {
    width: 35px;
    height: 80px;
    background-color: #120d52;
    position: absolute;
    top: 48px;
    left: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.rightdoor {
    width: 35px;
    height: 80px;
    background-color: #120d52;
    position: absolute;
    top: 48px;
    right: 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}


/*汽车*/

.car {
    position: absolute;
    left: 200px;
    top: 340px;
    z-index: 12;
}

.car .car_body {
    position: absolute;
}

.car .car_top1,
.car .car_top2 {
    width: 45px;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(246, 126, 40);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: skew(24deg);
    -moz-transform: skew(24deg);
    -o-transform: skew(24deg);
    -ms-transform: skew(24deg);
    transform: skew(24deg);
}

.car .car_top1 {
    left: -29px;
    top: 0px;
    -webkit-transform: skew(-24deg);
    -moz-transform: skew(-24deg);
    -o-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
    transform: skew(-24deg);
}

.car .car_win1,
.car .car_win2 {
    width: 24px;
    height: 24px;
    background: #fff;
    border-top-left-radius: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
    -webkit-transform: rotate(80deg) skew(-10deg);
    -moz-transform: rotate(80deg) skew(-10deg);
    -o-transform: rotate(80deg) skew(-10deg);
    -ms-transform: rotate(80deg) skew(-10deg);
    transform: rotate(80deg) skew(-10deg);
}

.car .car_win1 {
    left: -22px;
    -webkit-transform: rotate(0deg) skew(-10deg);
    -moz-transform: rotate(0deg) skew(-10deg);
    -o-transform: rotate(0deg) skew(-10deg);
    -ms-transform: rotate(0deg) skew(-10deg);
    transform: rotate(0deg) skew(-10deg);
}

.car .car_win1:after,
.car .car_win2:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 24px;
    background: #fff;
    position: absolute;
    left: 16px;
    top: 0;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
}

.car .car_win2:after {
    top: 9px;
    left: 7px;
    -webkit-transform: rotate(-90deg) skew(-10deg);
    -moz-transform: rotate(-90deg) skew(-10deg);
    -o-transform: rotate(-90deg) skew(-10deg);
    -ms-transform: rotate(-90deg) skew(-10deg);
    transform: rotate(-90deg) skew(-10deg);
}

.car .car_bottom1,
.car .car_bottom2 {
    width: 74px;
    height: 33px;
    background: rgb(246, 126, 40);
    border-top-left-radius: 24px 20px;
    border-bottom-left-radius: 3px;
    border-bottom: 8px solid rgb(186, 188, 187);
    position: absolute;
    top: 34px;
    left: -66px;
    -webkit-transform: skew(-4deg);
    -moz-transform: skew(-4deg);
    -o-transform: skew(-4deg);
    -ms-transform: skew(-4deg);
    transform: skew(-4deg);
}

.car .car_bottom2:before {
    content: 'JR';
    font-size: 12px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 45px;
}

.car .car_bottom1:after {
    content: '';
    display: inline-block;
    background: rgb(247, 244, 111);
    width: 10px;
    height: 16px;
    border-radius: 6px/8px;
    position: absolute;
    top: 11px;
    left: 6px;
}

.car .car_bottom2 {
    height: 36px;
    border-top-left-radius: 0;
    border-top-right-radius: 13px 17px;
    border-bottom-right-radius: 3px;
    left: 0px;
    top: 31px;
    -webkit-transform: skew(8deg);
    -moz-transform: skew(8deg);
    -o-transform: skew(8deg);
    -ms-transform: skew(8deg);
    transform: skew(8deg);
}

.car .frontWheel,
.car .endWheel {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 55px;
    left: -40px;
}

.car .endWheel {
    left: 20px;
}

.car .frontWheel:after,
.car .endWheel:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
}

.car .exhaust {
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 1px;
    position: absolute;
    left: 80px;
    top: 55px;
    opacity: 0;
}

.car2 {
    position: absolute;
    left: 900px;
    top: 314px;
    z-index: 10;
}

.car2 .car2_top {
    width: 55px;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    background: rgb(117, 191, 135);
    position: absolute;
    left: -29px;
    top: 0px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}

.car2_top:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 40px;
    background: rgb(117, 191, 135);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    position: absolute;
    left: 48px;
}

.car2 .car2_win {
    width: 42px;
    height: 30px;
    background: #fff;
    border-top-left-radius: 10px;
    position: absolute;
    top: 5px;
    left: -22px;
    -webkit-transform: rotate(0deg) skew(-20deg);
    -moz-transform: rotate(0deg) skew(-20deg);
    -o-transform: rotate(0deg) skew(-20deg);
    -ms-transform: rotate(0deg) skew(-20deg);
    transform: rotate(0deg) skew(-20deg);
}

.car2_win:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 30px;
    background: #fff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
    position: absolute;
    left: 36px;
}

.car2 .car2_bottom {
    width: 180px;
    height: 56px;
    background: rgb(117, 191, 135);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 39px;
    left: -60px;
}

.car2 .car2_bottom .car2_light1 {
    width: 14px;
    height: 20px;
    background: rgb(229, 230, 88);
    border-radius: 20px/30px;
    position: absolute;
    left: -3px;
    top: 18px;
}

.car2 .car2_bottom .car2_light2,
.car2 .car2_bottom .car2_light3 {
    width: 12px;
    height: 12px;
    background: rgb(229, 230, 88);
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 12px;
}

.car2 .car2_bottom .car2_light3 {
    top: 36px;
}

.car2 .car2_frontWheel,
.car2 .car2_endWheel {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: -30px;
}

.car2 .car2_endWheel {
    left: 60px;
}

.car2 .car2_frontWheel:after,
.car2 .car2_endWheel:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(216, 107, 82);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
