/*鼠标滚动的搜索框*/
.top-search{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: #fff;
	display: none;
	z-index: 999;
}
.top-search .s-form{
	margin: 0 auto;
	width: 770px;
	height: 40px;
}
.top-search .s-form form{
	display: inline-block;
}
.top-search .s-form img{
	position: relative;
	top: 5px;
	cursor: pointer;
}
.top-search .s-input{
	width: 532px;
	height:28px;
	border:1px solid #b6b6b6;
	padding: 3px 0 3px 7px;
	border-right-width: 0;
	border-color: #b8b8b8 transparent #ccc #b8b8b8;
	vertical-align: middle;/*垂直居中*/
}
.top-search .s-input:hover{
	border-color: #999 transparent #b3b3b3 #999;
}
.top-search .s-input:focus{
	border-color: #4791ff transparent #4791ff #4791ff;
}
/*设置按钮*/
.top-search .s-btn{
	width: 100px;
	height: 36px;
	margin: -8px;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;/*增加字间宽*/
	background-color: #3385ff;
	border: 1px solid #2d7894;
	vertical-align: middle;
	cursor: pointer;/*鼠标小手*/
}
.top-search button:hover{
	background-color: #317ef3;
}
.top-search form{
	position: relative;
}
/*照相机图标*/
.top-search .icon-mic{
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 25px;
	top: 0;
	right: 100px;
	background: url(../img/camera.png) 0px 10px no-repeat;
	cursor: pointer;
}
.top-search .icon-mic:hover{
	position: absolute;
	top: 4px;
	background: url(../img/camera.png) 0px -15px no-repeat;
}

/*新闻内容切换*/
.new-main{
	position: relative;
	top: 40px;
	width: 100%;
	height: 500px;
}
.new-main .new-center{
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #ccc;

}
.new-main .new-center ul{
	height: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-bottom: #ccc 1px solid;
}
.new-main .new-center ul>li{
	float: left;
	padding: 8px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;

}
.new-main .new-center ul>li:hover{
	background-color: #ccc;
}
.new-main .new-center ul .me{
	background-color: #ccc;
}

.new-main .new-center .new-conten{
	width: 1000px;
	height: 500px;
	border: 1px solid #fff;
	position: absolute;
	overflow: hidden;
	background-color: rgba(255,255,255,.9);
}
.new-main .new-center .new-conten .guild{
	width: 1000%;
	height: 500px;
	border: 1px solid #fff;
}
/*默认皮肤*/

.skin_container {
    /* background-attachment: fixed;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

.skin_container img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/*换肤菜单*/

.head_skin {
    width: 100%;
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    z-index: 1000;
    display: block;
}

.skin_menu {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e3e3e3;
}

.skin_title {
    width: 911px;
    height: 45px;
    margin: 0px auto;
}

.skin_nav {
    height: 46px;
    float: left;
    list-style: none;
}

.skin_nav_list {
    cursor: pointer;
    height: 46px;
    padding: 0 10px;
    font-size: 13px;
    float: left;
}

.skin_nav_name {
    color: #333;
    display: inline-block;
    margin-top: 19px;
}

.choose_nav {
    background: #389cff;
}

.choose_nav .skin_nav_name {
    color: #fff;
}

.skin_setting {
    float: right;
    margin-top: 10px;
}

.skin_bg_icon {
    cursor: pointer;
    float: left;
    width: 40px;
    margin-left: 25px;
    color: #0079f5;
}

.skin_bg_icon span {
    display: inline-block;
    vertical-align: middle;
}

.bg_up {
    margin-right: 2px;
    background: url('../Images/skin_icon.png') no-repeat -44px -175px;
    width: 11px;
    height: 15px;
}

.skin_bg {
    width: 911px;
    height: 205px;
    margin: 25px auto;
}

.skin_bgcon {
    width: 590px;
    height: 190px;
    float: left;
}

.skin_bgcon img {
    width: 97px;
    height: 59px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

.skin_bgcon .big {
    width: 195px;
    height: 119px;
}

.skin_bgcon .last {
    position: relative;
    top: -60px;
}

.skin_preview {
    float: right;
    width: 294px;
    position: relative;
}

#skin_preview {
    position: relative;
    float: right;
    width: 264px;
    height: 180px;
    overflow: hidden;
}

.skin_content {
    position: absolute;
    top: 15px;
    left: 32px;
    width: 260px;
    height: 163px;
    overflow: hidden;
}

.preview_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 264px;
    height: 180px;
    background: url('../Images/skin_preview.png') no-repeat 0px 0px;
}

.preview_title {
    float: right;
    margin-right: 0;
    margin-top: 7px;
    text-align: center;
    width: 262px;
    font-size: 12px;
    color: #666;
}

